$skin-name : "ithaca";


// Ithaca Colors
$gray-dark: #213138;
$blue: #003B71;
$blue-light: #1169BA;
$blue-bright: #266DEA;
$blue-lightest: #73BCFF;
$blue-lighter: #51ACFF;
$blue-bright-light: #00DEFF;
$blue-dark: #162C41;
$blue-gray: #3A5A79;
$gray: #738BA3;
$gray-light: #C3D1D7;
$gray-lightest: #F3F6F7;
$green-light: #52EABC;
$green: #34D5A4;
$gold: #FFBB00;
$yellow: #FFE770;
$brown: #D5AE91;
$gray-brown: #D9D7D2;
$brown-light: #E8E5D9;
$gray-lighter: #EEEEEE;
$white: #FFFFFF;
$red: #EF5350;
$blue-bright-light-trans: rgba(0, 222, 255, 0.2);
$gold-trans: rgba(255, 187, 0, 0.2);
$black: #000000;
$gray-flat: #9C9C9C;



//trying to fix


$breadcrumbs-tool-color: $blue-light;
$breadcrumbs-active-color:$blue-light;
$breadcrumbs-hover-color: $blue-light;
$button-primary-background-color: $blue-light;
$sites-nav-menu-item-selected-hover-background: $blue-light;
$sites-nav-submenu-item-color: $blue-light;

$tool-tab-active-text-color: $blue-light;
$tool-tab-active-highlight-color: $blue-light;


//MJ colors
$border-gray: #e5e5e5;
$hover-background: #eeedeb;

// Primary Colors
$top-header-background: $blue;
$text-color: $blue-dark;
$primary-color: #666;
$background-color-secondary: $blue;
$focus-outline-color: #266DEA;


// Logo location
$logo: "https://becm.ithaca.edu/wf/images/logo.svg";
$logo-height: 72px * 0.5;
$logo-width: 432px * 0.5;

// Tool icons
$skin-with-icons: true;
$icon-size: 20px;

//Button hover ex. Calendar forward and back in src/morpheus-master/sass/base/_extendables.scss
$button-hover-background-color: $gold;
$button-hover-border-color: $blue-light;


/* topNav Main Menu */
$header-size: 50px;


//MJ tries fancy Navigation
$sites-nav-menu-item-background: $white;
$sites-nav-menu-item-icon-color: $blue-gray;
$sites-nav-menu-item-color: $blue-gray;


$sites-nav-menu-item-border-top: 4px solid $border-gray; //from base.scss
$sites-nav-menu-item-border-left: 1px solid $gray-light;
$sites-nav-menu-item-border-right: 1px solid $gray-light;
$sites-nav-menu-item-border-bottom: 1px solid $gray-light;

$sites-nav-menu-item-selected-color: $blue-light;
$sites-nav-menu-item-selected-icon-color: $blue-light;
$sites-nav-menu-item-selected-background: $white;


$sites-nav-menu-item-selected-border-top: 4px solid $gold;
$sites-nav-menu-item-selected-border-left: 1px solid $gray-light;
$sites-nav-menu-item-selected-border-right: 1px solid $gray-light;
$sites-nav-menu-item-selected-border-bottom: 1px solid $gray-light;

$sites-nav-menu-item-selected-hover-color: $white;
$sites-nav-menu-item-selected-hover-border-top: 4px solid $gold;
$sites-nav-menu-item-selected-hover-border-left: 1px solid $gray-light;
$sites-nav-menu-item-selected-hover-border-right: 1px solid $gray-light;
$sites-nav-menu-item-selected-hover-border-bottom: 1px solid $gray-light;


$sites-nav-menu-item-hover-border-top: 4px solid $gold;
$sites-nav-menu-item-hover-border-left: 1px solid $gray-light;
$sites-nav-menu-item-hover-border-right: 1px solid $gray-light;
$sites-nav-menu-item-hover-border-bottom: 1px solid $gray-light;
$sites-nav-menu-item-hover-background: $hover-background;

/*
//MJ CSS hopes to fix the padding on the home icon on the nav menu. In base.scss)
#linkNav ul li.Mrphs-sitesNav__menuitem span {
    line-height: 1;
    margin-right: .3em;
  } */

$sakai-custom-icons : (
    sakai-message-bundle-manager : ( extend : fa-edit ),
    sakai-blogwow : ( extend: fa-keyboard-o ),
    sakai-help : ( extend: fa-info-circle ),
    sakai-playposit : (extend : fa-lightbulb-o),
    sakai-qna : (extend : fa-question-circle-o),
    sakai-simple-rss : (extend : fa-rss),
    sakai-voicethread : (extend : fa-microphone),
    sakai-attendance : (extend : fa-id-card-o)
);


// tool menu top of iframe active top border
$tool-tab-active-highlight-color: 4px solid $gold;
$tool-tab-hover-highlight-color: 4px solid $gold;
$tool-tab-hover-background-color: $hover-background;

// Tool Menu overrides
$tool-menu-item-hover-background-color: $hover-background;
$tool-menu-item-hover-border-left: 4px solid $gold;
$tool-menu-item-selected-text-color: $blue-light;
$tool-menu-item-selected-icon-color: $blue-light;
$tool-menu-item-selected-border-left: 4px solid $gold;
$tool-menu-item-selected-hover-text-color: $blue-light;
$tool-menu-item-selected-hover-icon-color: $blue-light;
$tool-menu-item-selected-hover-border-left: 4px solid $gold;
