$skin-name : "ithaca" !default; // This is used for bootstrap font behaviour.

// Main Colors
$primary-color:    			 		#05375a !default;
$body-background-color: 		 		#FFFFFF !default;
$background-color-secondary: 		 		#05375a !default;
$text-color:				 		#000 !default;
$topNav-text-color:					#FFF !default;
$sites-nav-background: 					#ededed !default;
$banner-height:						50px;

/* Logo location */
$logo: 							'../images/ithaca.svg';
$logo-height: 						46px;
$logo-width: 						181px;

// Tab colors
$tool-tab-text-color:			 		#666;
$tool-tab-background-color:              		#ededed !default;
$tool-tab-active-text-color:             		#05375a !default;
$tool-tab-active-highlight-color:        		#05375a !default;
$tool-tab-active-background-color:                      #FFF !default;

// Breadcrumbs
$breadcrumbs-color:			 		#000 !default;
$breadcrumbs-tool-color:		 		#000 !default;
$breadcrumbs-hover-color:		 		#000 !default;

// Links
$link-color: 				 		#16457C !default;
$link-active-color: 			 		#7088B2 !default;
$link-hover-color: 			 		#ACB9D4 !default;

// Button colors
$button-text-color:	 		 		#000 !default;
$button-border-color: 			 		#ccc !default;
$button-background-color: 		 		#e7e7e7 !default;
$button-background-secondary-color: 	 		#fff !default;
$button-color-border-color: 		 		#ccc !default;
$button-color-background-color: 	 		#e7e7e7 !default;
$button-color-background-secondary-color:		#FFF !default;
// Primary Button Color
$button-primary-background-color:        		#05375a !default;
$button-primary-text-color: 		 		#FFF !default;
$button-primary-hover-text-color:                       #05375a !default;
$button-primary-hover-background-color:                 #FFF !default;
$button-primary-hover-border-color:                     #05375a;
// Secondary Buttons
$button-secondary-icon-color:                           #666 !default;
$button-secondary-text-color:                           #666 !default;;
$button-secondary-background-color:                     #e0e0e0 !default;;

// Sites Navigation
// Non Selected
$sites-nav-menu-item-background:         		#05375a !default;
$sites-nav-menu-item-color:              		#FFF !default;
$sites-nav-menu-item-icon-color:         		#FFF !default;
$sites-nav-menu-item-border-color:         		none !default;
$sites-nav-menu-item-hover-background:              	#05375a !default;
$sites-nav-menu-item-hover-color:              		#FFF !default;
$sites-nav-menu-item-icon-hover-color:         		#FFF !default;
//Selected
$sites-nav-menu-item-selected-background:		#7ea5bf !default;
$sites-nav-menu-item-selected-color:			#FFF !default;
$sites-nav-menu-item-selected-icon-color:	 	#FFF !default;
$sites-nav-menu-item-selected-border-color:             none !default;
$sites-nav-menu-item-selected-hover-background: 	#7ea5bf !default;
$sites-nav-menu-item-selected-hover-color:      	#FFF !default;
$sites-nav-menu-item-selected-hover-icon-color: 	#FFF !default;

// TOOL MENU COLORS
$tool-menu-item-background-color:                       #ededed;
$tool-menu-item-text-color:                       	#444 !default;
$tool-menu-item-icon-color:                       	#444 !default;
// non-selected hover
$tool-menu-item-hover-text-color:               	#444 !default;
$tool-menu-item-hover-icon-color:               	#444 !default;
$tool-menu-item-hover-background-color:         	#d7e2ea !default;
$tool-menu-item-hover-border-left:              	4px solid #d7e2ea !default;
// selected
$tool-menu-item-selected-background-color:            	#d7e2ea !default;
$tool-menu-item-selected-text-color:            	#006699 !default;
$tool-menu-item-selected-icon-color:            	#006699 !default;
$tool-menu-item-selected-border-left:           	4px solid #006699 !default;
// submenu
$tool-sub-menu-hover-color:				#FFF !default;
// selected hover
$tool-menu-item-selected-hover-text-color:      	#FFF !default;
$tool-menu-item-selected-hover-icon-color:      	#FFF !default;
$tool-menu-item-selected-hover-background-color:	#ccc !default;
$tool-menu-item-selected-hover-border-left:             4px solid #CCC !default;
// collapsed menu
$tool-menu-collapse-background-color:                   $tool-menu-item-background-color !default;
$tool-menu-collapse-hover-background-color:             #d1d1d1 !default;
$tool-menu-collapse-active-text-color:                  #444 !default;
$tool-sub-menu-hover-color:				#444;

// info message colors
$info-background-color:   				#efefef;

.Mrphs-sakai-schedule table.calendar .borderGrayBackground a {
    color: #000 !important;
}

.Mrphs-sakai-resources a.nil.fa-folder::after {
    margin: 0.45em 0 0 -3.4em !important;
}

.navIntraTool li span.current a {
    background: #FFF;
    color: #05375a;
}

#favorite-settings-pane button[aria-checked="true"] :first-child, #favorite-settings-pane button[aria-checked="false"] :last-child {
    background-color: $primary-color !important;
    color: #FFF !important;
}

#mastLogin #loginLinks ul {
   background-color: #FFF !important;
}

@media only screen and (max-width: 800px) {
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--worksite a {
        color: #000 !important;
    }
    .Mrphs-skipNav__menu li.Mrphs-skipNav__menuitem.Mrphs-skipNav__menuitem--tools a {
        color: #000 !important;
    }
}